<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot It" type="MavenRunConfiguration" factoryName="Maven">
    <MavenSettings>
      <option name="myGeneralSettings">
        <MavenGeneralSettings>
          <option name="alwaysUpdateSnapshots" value="false" />
          <option name="checksumPolicy" value="NOT_SET" />
          <option name="failureBehavior" value="NOT_SET" />
          <option name="localRepository" value="C:\Dev\m3_repo" />
          <option name="mavenHome" value="C:/Program Files/apache-maven-3.3.9" />
          <option name="nonRecursive" value="false" />
          <option name="outputLevel" value="INFO" />
          <option name="pluginUpdatePolicy" value="DEFAULT" />
          <option name="printErrorStackTraces" value="false" />
          <option name="threads" />
          <option name="usePluginRegistry" value="false" />
          <option name="userSettingsFile" value="" />
          <option name="workOffline" value="false" />
        </MavenGeneralSettings>
      </option>
      <option name="myRunnerSettings" />
      <option name="myRunnerParameters">
        <MavenRunnerParameters>
          <option name="profiles">
            <set />
          </option>
          <option name="goals">
            <list>
              <option value="spring-boot:run" />
            </list>
          </option>
          <option name="profilesMap">
            <map />
          </option>
          <option name="resolveToWorkspace" value="false" />
          <option name="workingDirPath" value="$PROJECT_DIR$" />
        </MavenRunnerParameters>
      </option>
    </MavenSettings>
    <method />
  </configuration>
</component>